* {
    box-sizing: border-box;
}


canvas {
    background-color: white;
    border: 1px solid black;
}

body {
    height: 100vh;
    position: relative;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    height: 4rem;
    align-items: center;
    background: yellow;

}

footer {
    width: 100vw;
    height: 4rem;
    background: yellow;
    margin-top: 0.7rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;

}

main {
    margin-top: 20vh;
}

aside {
    height: 100vh;
    width: 10em;
    background: yellow;
    position: absolute;
}
